@charset "UTF-8";
@font-face {
    font-family: Zore;
    src: url(daisy_3/Daisy.otf) format(opentype);
}

@font-face {
    font-family: Texto;
    src: url(bullpen/bullpen\ 3d.otf) format(opentype) url(bullpen/bullpen\ hv.otf) format(opentype) url(bullpen/bullpen\ hv\ it.otf) format(opentype);
}

body{
    background-image: linear-gradient(to right, #F512B5, #F50700, #FF7001, #EBDF09, #0D8B00, #050FF5, #C40FF5);
}

main{
    background-color: rgb(241, 213, 176);
    padding: 10px;
    text-justify: auto;
    width: 28em;
    margin: auto;
    border-radius: 1em;
    box-shadow: 10px 10px 10px black;
    background-image: url(zore\ 14...pegava.jpg);
    background-size: 12em;
    background-position-x: 15em;
    background-position-y: 8em;
    background-repeat: no-repeat;
    
}

h1{
    font: italic normal 3em 'Zore', Arial, Verdana;
    color: #5f8d65;
    margin: auto;
    text-align: center;
}

p{
    font: italic normal 1em 'Texto' Arial, Verdana;
    color: #8ac992;
}

ul{
    color: #FC7753;
    font: italic bolder 1.5em 'Texto', Arial, Verdana;
}