@charset "UTF-8";

@media (max-width: 600px) {
    header {
        font-size: 0.1rem;
    }
}

@font-face {
    font-family: uol;
    src: url(fontes/UOLtext\ Regular\ Regular.woff2.ttf) format(truetype);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'uol', Arial, Helvetica, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: .75em;

}



header nav {
    padding: 10px;
}

nav > a {
    text-decoration: none;
    color: white;
    
}

.prim {
    padding: 10px;
}


#email, #entre {
    padding: 20px;
}

#vip {
    padding: 5px 15px;
    background-color: #FFCE00;
    margin: 30px; 
    color: black;
    border-radius: 5px;
    font-size: 1em;
}