@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html body{
    min height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0px;
}

header > h1 {
    /* se der merda coloca dnv: 
    padding-top: 50px;
    padding-bottom: 50px;, o bottom vai no header > p*/
    /* text-transform: uppercase;
    deixar em mais */
    font-variant: small-caps;
}

header > p {
    
}

header  a, footer  a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(78, 74, 74);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.226);
    width: 400px;
}
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px 0px;
}